#dir_root{
  margin-top: 5%;
  display: grid;
  grid-template-rows: auto;
  gap: 3%;
}
#item_btn{
  font-family: "Source Code Pro", monospace;
  color: white;
  background: gray;
  height: 5vh;
  border-radius: 5px;
  text-align: left;
}
.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#submit_btn{
  font-family: "Source Code Pro", monospace;
  max-width: 100px;
  padding: 10px;
}
input[type=text]{
  font-family: "Source Code Pro", monospace;
  width: 100%;
  padding: 10px;
}